@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

body {
	font-family: Montserrat, 'Open Sans', sans-serif;
	background-color: #D9CAB9;
}

nav {
	background-color: #252422;
	background-size: 100%;
	text-align: right;
	padding: 20px;
	font-family: Monserrat, sans-serif;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

/*#sams {
	padding-right: 430px;
	height: 50px;
}*/

#navbar {
 	padding-right: 20px;
 	word-spacing: 60px;
}

#cart {
	height: 25px;
	width: 25px;
}

header {
	background-image: url(https://78.media.tumblr.com/2ae651d3b34ef434a763e752b317e9a4/tumblr_nm4rjv3c801u9ooogo1_500.gif);
	background-size: 100%;
	text-align: center;
	padding: 100px 100px;
	}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 48px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	padding: 20px 20px;
}

h2 {
	font-family: Monserrat, 'Open Sans', sans-serif;
	font-size: 24px
}

p {
	font-family: Monserrat, 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

#slogan {
	font-size: 16px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	padding: 10px;
}

#order {
    background-color: #713332;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

main {
	padding: 40px 140px 30px;
	text-align: center;
	color: #252422;
}

#offerings {
	padding-top: 80px;
	padding-bottom: 50px;
	text-align: center;
	line-height: 1.7;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

footer {
	padding: 50px 0px 50px 30px;
	text-align: center;
	background-color: #252422;
	color: #D9CAB9;
}
